# .NET
bin/
obj/
*.user
*.suo

# NuGet
.nuget/
*.nupkg
*.snupkg

# Build artifacts
build/*.zip
# OS
.DS_Store
Thumbs.db
artifacts/

# Rider / VS
.idea/
.vs/
.vscode/
*.DotSettings.user

modules/
blobs/
