<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="">
    <dojo>
        <packages>
            <add name="audience-enhancer" location="ClientResources/__CACHE_BUSTER__/scripts" />
        </packages>
    </dojo>
    <clientResources>
        <add name="audience-enhancer-styles"
             path="ClientResources/__CACHE_BUSTER__/styles/audience-enhancer.css"
             resourceType="Style" />
    </clientResources>
    <clientModule initializer="audience-enhancer/audience-enhancer">
        <moduleDependencies>
            <add dependency="CMS" type="RunAfter" />
        </moduleDependencies>
        <requiredResources>
            <add name="audience-enhancer-styles" />
        </requiredResources>
    </clientModule>
</module>
